body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #3b96b9, #96adf3);
}

header {
    background-color: #60b9e2;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

nav {
    margin-top: 10px;
}

#buscar {
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    display: block;
}

section {
    padding: 20px;
    text-align: center;
}

.juegos-galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.juego {
    flex: 0 1 calc(25% - 20px); /* Ajusta el ancho de cada juego al 25% menos el espacio del gap */
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid #bebebe;
    background-color: rgb(188, 226, 221);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.juego img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Ajusta la altura máxima de la imagen */
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
#audio {
    display: none;
}